@charset "utf-8";
/* CSS Document */


.container{
	position: relative;
	top: 0px;
	left: 0px;
	width: 102%;
	margin: 0px;
	overflow-x: hidden;

  	background-image: url(photos/modernbuilding.jpg);
 	background-position: left top;
	background-size: 102%;
 	background-repeat: repeat;
	color: white;
}

#navbar{
	position:fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	max-width: 2500px;
	height: 120px;
	margin: auto;
	background-color: #182952;
	z-index: 10;


}


.nav{
	width:;
	height: 120px;
	text-align: center;	
	line-height: 190px;	
	float: left;
	background-color:;
	color: white;
	border: ;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:lighter;
	padding-right: 15px;
	padding-left: 15px;
	bottom: 0px;
	position: relative;
}

.navtitle{
	text-decoration: none;
	color: white;

}

.navtitle:hover{
	text-decoration: none;
	color: #FFE400;

}

#home{
	width: 300px;
	bottom: 0px;
	left: 0px;
	position: relative;
	float: left;
}


#homepage{
	top: 50px;
	bottom: 0px;
	left: 0px;
	position: relative;
	float: left;
}

#experiencepage{
	bottom: 0px;
	float: right;
	position: relative;

}

#exptitle{
	color: #FFE400;
}

#educationpage{
	bottom: 0px;
	float: right;
	position: relative;
}


#extracurricularspage{
	bottom: 0px;
	float: right;
	position: relative;
}

#skillspage{
	bottom: 0px;
	float: right;
	position: relative;
}

#accomplishmentspage{
	bottom: 0px;
	float: right;
	position: relative;
}

#portfoliopage{
	bottom: 0px;
	right: 0px;
	float: right;
	position: relative;
	padding-right: 30px;
}

#content{
	font-family: Geneva;
	
}

#heading1{
	position: relative;
	top: 60px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-bottom: 50px;
	background-color: #F9F9F9dd;	

}

#heading2{
	position: relative;
	top: 120px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #F9F9F9dd;	

}
p{
	text-align: justify;

}

h1{
	font-size: 50px;
	color: black;

}


h2{
	font-size: 30px;
	line-height: 30px;

}

h3{
	font-size: 20px;
	line-height: 0px;

}


h4{	
	color: #00FF59;

}


.experiences{
	width: 100%;
	position: relative;
	top: 120px;
	margin-bottom: 75px;
	min-height: 408px;
}

.ldescriptor{
	padding-left: 50px;
	padding-right: 50px;
	width: 42%;
	float: left;


}

.rdescriptor{
	padding-left: 0px;
	padding-right: 50px;
	width: 42%;
	float: right;




}

.rightimg{
	float:right;
	width: 42%;
	padding-left: 50px;
	padding-right: 50px;


}

.leftimg{
	float:left;
	width: 42%;
	padding-left: 50px;
	padding-right: 0px;

}

.org{
	text-decoration: none;
	color: white;

}


.org:hover{
	text-decoration: none;
	color: #FFE400;
}


#miniE{
	background-color: #182952cc;	


}

#YELL{
	background-color: #182952cc;	


}

#BI{
	background-color: #182952cc;	


}

#FS{
	background-color: #182952cc;	


}

#YHY{
	background-color: #182952cc;	


}

#GU{
	background-color: #182952cc;	


}

#FON{
	background-color: #182952cc;	


}

#bdmtn{
	background-color: #182952cc;	


}

#libassiss{
	background-color: #182952cc;	


}

#connect{
	position: relative;
	left: 90%;

}

.contact{
	width: 3%;
	position: absolute;
	bottom: 50px;	
	float: right;
	margin-right: 20px;


}

#p{
	transform: translateX(-49px)		

}


#ppp{
	transform: translateX(52px)	
}

.footer{
	width: 102%;
	height: 120px;
	position: relative;
	bottom: -120px;
	background-color: #182952;
	color: white;
	line-height: 20px;
	font-family: Geneva;

}

#foot{
	line-height: 120px;
	text-align: center;
}




